<div class="container bg-light shadow rounded mt-4 p-4">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">material</th>
            <th scope="col">cantidad</th>
            <th scope="col">estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Tiendas</td>
            <td>20</td>
            <td>nuevos</td>
          </tr>
        </tbody>
      </table>

</div>